DATABASE_URL=postgresql://capstone_user:capstone_pass@localhost:5432/capstone_db
TEST_DATABASE_URL=postgresql://capstone_user:capstone_pass@localhost:5432/capstone_test_db
POSTGRES_USER=capstone_user
POSTGRES_PASSWORD=capstone_pass
POSTGRES_DB=capstone_db
